body {
    text-align: center;
    background: #eee;
    font: 14px/16px Arial, sans-serif;
    margin: 0;
}

input[type=submit] {
    margin: 8px 0;
}

td, th {
    padding: 2px 4px;
}

#main-header {
    background: #ddd;
    padding: 4px 0px;
}

#main-nav {
    display: inline-block;
    margin-left: 4px;
    padding-left: 4px;
    border-left: 1px solid #ccc;
}
    #main-nav li {
        display: inline-block;
        margin: 0px 4px;
    }

.gridview {
    display: inline-block;
    margin: 0 auto;
}